* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Roboto; sans-serif;
}
    



.logo {
    width: 140px;
    border-right: 1px solid rgb(241, 238, 238);
}
.logo img {
    width: 125px;
    vertical-align: middle;

}
/* lasciato separato header da nav */

header {
    
    background: white;
}

ul {
    list-style: none;
    
}

li {
    font-size: 14px;
    display: inline;
    margin-left: 5px;
    color: lightgray;
}

nav {
    height: 50px;
    margin-top: 20px;
}



.top-box {
    width: 100%;
    height: 400px;
    background-image: url(../img/banner.jpg);
    background size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: 10px;
    border-radius: 10px;

   

}

.text-top-box {
    padding-top: 240px;
    padding-left: 30px;
    width: 50%;
    color:white;
    
}

.text-top-box h3 {
        font-size: 24px;
        font-weight: 300;
        text-align: justify;
        
}

.text-top-box p {
    font-size: 14px;
}

.intro {
    height: 50px;
    margin: 40px 0
}
    
    

.intro p, .text-box p, footer {
    font-size: 14px;
    color: lightgrey;

}

.intro h3 {
    font-size: 30px;
    font-weight: 600;
}

.text-box h5 {
    font-size: 14px;
    color: lightgrey;
}

.maincontent {
    
    margin-top: 10px;
    
}    
    
    

    

.text-box {
    width: 100%;
    margin-top: 25px;

}

.box-left {
    width: calc(20% - 5px);
    margin-right: 5px;
}
    
    

.box-centre {
    width: calc(60% - 10px);
    margin-right: 5px;
    margin-left: 5px;
}
    

.box-right {
    width: calc(20% - 5px);
    margin-left: 5px;
}
    
/* div interno grigio trasparente */
.bg-float-box {
    background-color: rgba(230, 210, 210, 0.5);
    border-radius: 10px;
    height: 150px;

}
/* colonne flottanti */
.content-imgl {
    background-image: url(../img/img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(230, 210, 210, 0.4);

}
.content-imgc {
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;


}

.content-imgr {
    background-image: url(../img/img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;


}


/* LASCIATA IN COMMENTO PER RIMANDARE ALL EVENTUALE INSERIMENTO IN HTML DELLE 
IMMAGINI RIGHE 59 73 93 */
/* .content-imgl, .content-imgc, .content-imgr {
    width: 100%;
    height: 150px;
} */

footer {
    height: 100px;
    text-align: center;
    margin-top: 30px;
    
    
}
footer span {
    color: red;
}





