* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    /* background: aqua; */


}

.logo {
    width: 140px;
    border-right: 1px solid rgb(241, 238, 238);
}
.logo img {
    width: 125px;
    vertical-align: middle;

}

header {
    
    background: white;
}

ul {
    list-style: none;
    
}

li {
    display: inline;
}

nav {
    height: 50px;
    background: cornflowerblue;
    margin-top: 10px;
}

.top-box {
    width: 100%;
    height: 400px;
    background-image: url(../img/banner.jpg);
    background size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: 10px;
    border-radius: 10px;

   

}

    

.intro {
    height: 50px;
    background: darkkhaki;
    margin-top: 10px;
}

.maincontent {
    
    margin-top: 10px;
}

.box-left {
    width: calc(20% - 5px);
    height: 300px;
    background: darkslateblue;
    margin-right: 5px;
}

.box-centre {
    width: calc(60% - 10px);
    height: 300px;
    background: orchid;
    margin-right: 5px;
    margin-left: 5px;
}

.box-right {
    width: calc(20% - 5px);
    height: 300px;
    background: greenyellow;
    margin-left: 5px;
}

.content-imgl, .content-imgc, .content-imgr {
    width: 100%;
}

footer {
    height: 100px;
    background: rgb(255, 115, 0);
    margin-top: 10px;
}